* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-color: #04ffcd;
    color: #333;
}

/* ================= NAVBAR ================= */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 80px;
    background: white;
    position: sticky;
    top: 0;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 50px;
}
.logo h3 {
    font-size: 50px;
    color: #1f2937;
    font-weight: bold;
    font-family: 'times new roman', times, serif;
}
.logo p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.logo-circle {
    background: #1f2937;
    color: white;
    padding: 15px;
    border-radius: 20%;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 40px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

nav a:hover,
nav a.active {
    color: #ff2b87;
}

.talk-btn {
    padding: 10px 20px;
    border: 2px solid #263cff;
    background: transparent;
    border-radius: 20px;
    cursor: pointer;
    font-size: 40px;
}


/* ================= HERO ================= */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
}

.hero-text h1 {
    font-size: 150px;
    margin-bottom: 20px;
    margin-left: 350px;
    font-family: 'Times New Roman', Times, serif;
}

.hero-text p {
    margin-bottom: 20px;
    color: #555;
    font-size: 50px;
    margin-left: 350px;
    font-family: 'Times New Roman', Times, serif;

}

.buttons button {
    padding: 20px 30px;
    margin-right: 10px;
    border-radius: 45px;
    border: none;
    cursor: pointer;
}

.primary-btn {
    background: #ff9a0d;
    color: rgb(21, 20, 20);
    font-size: 40px;
    margin-left: 350px;
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;

}
.view-projects button {
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 35px;
    margin-top: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.first-button {
    background: whitesmoke;
    color: rgb(21, 20, 20);
    margin-left: 350px; 
    font-family: 'Times New Roman', Times, serif;
} 

.secondary-btn {
    background: white;
    border: 2px solid #2563eb;
    font-size: 40px;
    margin-left: 35px;
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;

}
.hero-image img {
    border-radius: 15px;
    margin-right: 350px;
    margin-top: 250px;
}

.pro-card {
    background: white;
    padding: 20px;
    border-radius: 20px;
    font-size: 30px;
    margin-top: 20px;
    margin-right: 350px;
    line-height: 2.2;
}
.pro-card ul {
    list-style: none;
    display: flex;
    gap: 25px;
    color: rgb(224, 0, 0);
    font-weight: bold;
    font-size: 35px;
    font-family: 'Segoe UI', sans-serif;
    word-spacing: 25px;
    font-family: 'Times New Roman', Times, serif;
}
.pro-card h3 {
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.pro-card p {
    font-size: 30px;
   Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* ================= SECTION ================= */
.section {
    padding: 80px;
    font-size: 40px;
    margin-left: 350px;
    margin-right: 350px;
    font-family: 'Times New Roman', Times, serif;
}

.section h2 {
    margin-bottom: 20px;
    font-size: 80px;
    font-family: 'Times New Roman', Times, serif;
}

.section-desc {
    margin-bottom: 40px;
    color: #555;
    font-size: 45px; 
    font-family: 'Times New Roman', Times, serif;          
}

/* ================= ABOUT ================= */
.about-cards {
    display: flex;
    gap: 20px;
    margin-right: 400px;
    margin-top: 50px;
    line-height: 2.2;
}
.card {
    background: linear-gradient(135deg, #ecff44, rgb(255, 116, 116));
    padding: 25px;
    width: 200px;
    border-radius: 80px;
    flex: 1;
    text-align: center;
    font-size: 40px;
    text-align: left; 
    font-family: 'Times New Roman', Times, serif; 
}
.card h3 {
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif; 
}
.card p {
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* ================= SKILLS ================= */
.skills-container {
    display: flex;
    gap: 20px;
    margin-right: 400px;
    margin-top: 50px;
    line-height: 2.2;
}
.skill-box {
    background: linear-gradient(135deg, #aaf460, #f68caf);
    padding: 30px;
    border-radius: 35px;
    flex: 1;
    font-size: 40px;
}
.skill-box h3 {
    font-size: 45px;
    font-family: serif;
}
.skill-box p {
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* ================= PROJECTS ================= */
.projects-container {
    display: flex;
    gap: 20px;

}

.project-card {
    background: linear-gradient(135deg, #feacff, #44ff82);
    padding: 20px;
    border-radius: 35px;
    flex: 1;
    line-height: 2.2;
}
.project-card h3 {
    font-size: 45px;
    font-family: serif;
}
.project-card p {
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*================== EDUCATION ================= */
.education-container {
    display: grid;
    gap: 20px;
}
.education-cards {
    display: flex;
    gap: 20px;
    margin-right: 400px;
    margin-top: 50px;
    line-height: 2.8;
}
.education-cards .card {
    background: linear-gradient(135deg, #fff04f, #5752d9);
    padding: 30px;
    border-radius: 35px;
    flex: 1;
    font-size: 40px;
}
.education-cards .card h3 {
    font-size: 45px;
    font-family: serif;
}
.education-cards .card p {
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*================== CERTIFICATIONS ================= */
.certification-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 20px;
}
.cert-card {
    background: linear-gradient(135deg, #fffd78, #d089ff);
    padding: 20px;
    border-radius: 35px;
    line-height: 2.2;
}
.cert-card h3 {
    font-size: 45px;
    font-family: serif;
}
.cert-card p {
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* ================= STRENGTHS ================= */
.strengths-container {
    display: flex;
    gap: 80px;
    margin-right: 400px;
    margin-top: 50px;
    line-height: 1.5;
}
.strengths card ul :link {
    list-style: none;
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* ================= INTERESTS ================= */

.interests-container {
    position: relative;
    margin-left: 200px;
}
.inter-section h2{
    margin-left: 2800px;
    font-size: 80px;
    margin-bottom: 80px;
    text-align: left;
    margin-top: -280px;
    font-family: 'Times New Roman', Times, serif;
}
.interest-card p {    margin-left: 2600px;
    font-size: 40px;
    line-height: 1.5;
    word-spacing: 30px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* ================= CONTACT ================= */
.con-section h2{
    display: flex;
    gap: 10px;
    margin-left: 1000px;
    margin-top: 90px;
    line-height: 2.2;
    font-size: 80px;
    font-family: 'Times New Roman', Times, serif;
}
.con-section p {
    display: flex;
    gap: 10px;
    margin-left: 1000px;
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
}
.connect-card {
    padding: 40px;
    background: wheat;
    border-radius: 50px;
    margin-top: 50px;
    margin-left: 400px;
    margin-right: 1700px;
    margin-bottom: 80px;
}
.content-left h1 {
    font-size: 80px;
    margin-top: 60px;
    font-family: 'Times New Roman', Times, serif;
}
.content-left p{
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.content-right p {
    font-size: 40px;
    margin-left: 1000px;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif
}
.footer h1 {
    font-weight: normal;
    font-size: 40px;
    margin-top: 180px;
    text-align: center;
    margin-bottom: 30px;
}